# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/

# Логи и временные файлы
run/
logs/
*.log
*.tmp

# Локальные настройки
local.properties